html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0 0 50px 0;
}

.movie-list_item {
  width: 33.33333%;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  justify-content: center;
  background: #eee;
  padding-top: 46%;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease-in-out;

}

@media only screen and (min-width: 700px) {
  .movie-list_item {
    width: 25%;
    padding-top: 36%;
  }
}

@media only screen and (min-width: 900px) {
  .movie-list_item {
    width: 20%;
    padding-top: 29%
  }
}

@media only screen and (min-width: 1200px) {
  .movie-list_item {
    width: 10%;
    padding-top: 14%;
  }
}

.movie-list_item.st-watched {
  opacity: 0.2;
}

.movie-list_item img {
  width: 100%;
}

.movie-list_item-button {
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
}


.nav {
  background: white;
  position: sticky;
  top: 0;
  padding: 10px 0;
  z-index: 10;
}

.filterGroup {
  display: flex;
  
}
.filter {
  width: 100%;
  padding: 0 10px;
}

@media only screen and (max-width: 700px) {
  .filterGroup {
    flex-wrap: wrap;
  }
  .filter {
    margin-bottom: 10px;
  }
}

.actionGroup {
  padding: 10px;
  text-align: right;
}

.actionGroup button {
  background: lightcoral;
  border: 0;
  border-radius: 3px;
  height: 30px;
  font-size: 15px;
  margin-left: 10px;
  color: white;
  padding: 0 10px;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}

.actionGroup button:hover:not(:disabled) {
  opacity: 0.8;
}

.actionGroup button:disabled {
  opacity: 0.5;
  cursor: not-allowed;

}

h1 {
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 10px;
  background: lightcoral;
  color: white;
  font-weight: normal;
  bottom: 0;
  padding: 10px 5%;
  margin: 0;
  font-size: 20px;
  right: 0;
  left: 0;
  z-index: 10;
}

.loading {
  text-align: center;
  margin: 100px 0;
}

.react-autosuggest__container {
  position: relative;
  width: 100%;
}

.react-autosuggest__input {
width: 100%;
height: 30px;
border-color: hsl(0,0%,80%);
border-radius: 4px;
min-height: 38px;
border-width: 1px;
border-style: solid;
padding: 2px 8px;
font-size: 16px;
}

.react-autosuggest__suggestions-container--open{
  background:white;
  border: 1px solid hsl(0,0%,80%);;
  border-radius: 0 0 5px 5px;
  width: 100%;
  position: absolute;
  z-index: 5
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
}

.react-autosuggest__suggestion {
  padding: 5px;
}


.react-autosuggest__suggestion--highlighted {
  background: pink;
}
